openapi: 3.0.3
info:
  title: API Documentation
  description: This is the API documentation for my application.
  version: 1.0.0

servers:
  - url: https://cse341-personal-project-q24l.onrender.com
    description: Production server
  - url: http://localhost:3000
    description: Local development server

paths:
  /login:
    get:
      summary: Redirect to Auth0 login page
      description: Initiates the Auth0 authentication process
      responses:
        '302':
          description: Redirect to Auth0 login page
        '500':
          description: Internal Server Error
  /logout:
    get:
      summary: Logout user
      description: Logs out the user and clears the session
      responses:
        '302':
          description: Redirect to home page
        '500':
          description: Internal Server Error

  /profile/:
    get:
      summary: Get the logged in user
      responses:
        '200':
          description: The details of the logged in user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '500':
          description: Internal Server Error

  /tasks/:
    get:
      summary: Get all tasks
      responses:
        '200':
          description: List of all tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '500':
          description: Internal Server Error

    post:
      summary: Create a new task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /tasks/{id}:
    get:
      summary: Get task by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error

    put:
      summary: Update task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: any
                description:
                  type: string
                  example: any
                dueDate:
                  type: string
                  example: any
                priority:
                  type: string
                  example: any
                status:
                  type: string
                  example: any
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

    delete:
      summary: Delete task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

components:
  schemas:
    Task:
      type: object
      properties:
        userSub:
          type: string
        title:
          type: string
        description:
          type: string
        dueDate:
          type: date
        priority:
          type: string
          enum: ['low', 'medium', 'high']
          default: 'medium'
        status:
          type: string
          enum: ['pending', 'in-progress', 'completed']
          default: 'pending'

