openapi: 3.0.3
info:
  title: API Documentation
  description: This is the API documentation for my application.
  version: 1.0.0

servers:
  - url: https://cse341-personal-project-q24l.onrender.com
    description: Production server
  - url: http://localhost:8080
    description: Local development server

paths:
  /users/:
    get:
      summary: Get all users
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error

    post:
      summary: Create a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: any
                password:
                  type: string
                  example: any
                email:
                  type: string
                  example: any
                name:
                  type: string
                  example: any
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /users/{username}:
    get:
      summary: Get user by username
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

    put:
      summary: Update user information
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: any
                email:
                  type: string
                  example: any
                name:
                  type: string
                  example: any
                password:
                  type: string
                  example: any
                newPassword:
                  type: string
                  example: any
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error

    delete:
      summary: Delete a user
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: any
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error

  /tasks/:
    get:
      summary: Get all tasks
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error

    post:
      summary: Create a new task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  example: any
                title:
                  type: string
                  example: any
                description:
                  type: string
                  example: any
                dueDate:
                  type: string
                  example: any
                priority:
                  type: string
                  example: any
                status:
                  type: string
                  example: any
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /tasks/{id}:
    get:
      summary: Get task by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error

    put:
      summary: Update task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: any
                description:
                  type: string
                  example: any
                dueDate:
                  type: string
                  example: any
                priority:
                  type: string
                  example: any
                status:
                  type: string
                  example: any
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

    delete:
      summary: Delete task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

components:
  schemas:
    User:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
        email: 
          type: string
        name:
          type: string
    Task:
      type: object
      properties:
        userId:
          type: mongoose.Schema.Types.ObjectId
        title:
          type: string
        description:
          type: string
        dueDate:
          type: date
        priority:
          type: string
          enum: ['low', 'medium', 'high']
          default: 'medium'
        status:
          type: string
          enum: ['pending', 'in-progress', 'completed']
          default: 'pending'

